/*
 * @Author: bujunjie
 * @Date: 2021-12-31 11:26:29
 * @LastEditors: bujunjie
 * @LastEditTime: 2021-12-31 13:31:42
 * @Description: 列表页面通用样式
 */

.header-wrap {
}
// 搜索区域
.table-page-search-wrapper {
  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
    float: left;
    overflow: hidden;
  }
  & ::v-deep .el-form-item {
    display: flex;
    margin-right: 20px;
    .el-form-item__label {
      padding-right: 3px;
      &::after {
        content: '：';
      }
    }
    .el-form-item__content {
      flex: 1 1;
    }
  }
  .search-expand-btn {
    margin-left: 8px;
    cursor: pointer;
  }
}
.operate-wrap {
  margin-top: 12px;
}
.table-wrap {
  margin-top: 10px;
}